main .hero-container > div:has(.fullwidth) {
  max-width: unset;
}

main .hero-container {
  padding-block: 0;
}

main .hero-container:has(.centered-section-gray) {
  background-color: var(--light-color);
}

main .hero-container:has(.centered-section-black) {
  background-color: black;
}

main .hero-container:has(.centered-section-white) {
  background-color: white;
}

main .hero-container:has(.fullwidth) {
  padding-inline: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}


.hero h1 {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: 0;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
